/* warning, not very tidy,
   many redundant strings
   fixing it as i go */



/* universal */

/* to use later

background-color: #c339e5;

*/

* {
	border-radius: 35px;
	background-color: rgba(255,192,203,0.8);
	text-align: center;
	box-sizing: border-box;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* transparency for boxed items. */

#pepe-gif, ul, li, a, font, h2 {
	position: relative;
	background-color: transparent;
}

/* body */
html {
	height: 70em
	padding: 2em;
	border-radius: 1px;
	background-color: #C296B6;
}

.body {
	width: 90%;
	padding: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: transparent;
	background: url(https://s-media-cache-ak0.pinimg.com/originals/90/3b/d6/903bd6f8c9cb9ed1b613108f97f21723.jpg) no-repeat center;
	background-size: cover;
	border: solid 5px skyblue;
}

body {
	background-color: transparent;
}

/* 1st header div */
h1, #h1 {
	padding-bottom: 10px;
	width: 80%;
	position: relative;
	border: solid 1px magenta;
	font-family: Comic Sans MS, sans-serif; color: Magenta;
}



h1 {
	font-size: 250%;
}

/*this affects lists*/

#listcon {
	padding: 2%;
	border: solid 1px magenta;
	width: 80%;
}

.list, .list2 {
	margin-top: 2%;
	margin-bottom: 2%;
	border: solid 1px;
	width: 45%;
	font-family: Comic Sans MS, sans-serif; color: Magenta;
	line-height: 1.7em;
	font-size: 120%;
	position: relative;
}

.list {
	float: left;
}

.and {
	font-family: Comic Sans MS, sans-serif;
	color: #4286f4;
	font-size: 125%;
	line-height: 1.7em;
	position: relative;
	display: inline-table;
	height: 1em;
	width: 7%;
}

p {
	border: solid 1px;
	background-color: white;
}

.list2 {
	float: right;
}

ul {
	margin-left: 5%;
	position: relative;
	font-size: 90%;
}

li {
	text-align: left;
}

/* all of this is the gifs and videos/images */
.gifs {
	border: solid magenta 1px;
}

img.gifs, .gifs {
	width: 80%;
	position: relative;
}

#lewd, #oats, #cena {
	width: 80%;
	position: relative;
}

#lewd {
	width: 80%;
	background-color: transparent;
}

#pepe-gif, #pickle  {
	max-height: 70%;
	max-width: 70%;
}

#oats, #cena {
	height: 700px;
	padding-top: 10px;
	padding-bottom: 8px;
	border: solid 1px magenta;
}

#oatsvid {
	height: 95%;
	width: 95%;
}

#cenaimg, #tweet {
	height: 95%;
	width: 95%;
}

/*
img.gifs {
	position: relative;
}
*/
