/* universal */

/* to use later

background-color: #c339e5;

*/

* {
	background-color: #c339e5;
	text-align: center;
	box-sizing: border-box;
	margin: auto;
	border: solid 1px;
}
/* body */

body {
	background: url(https://fat.gfycat.com/EminentWildBrocketdeer.gif) no-repeat center;
	background-size: cover;
}

h1, #p1 {
	width: 700px;
	position: relative;
	margin: auto;
	font-family: Comic Sans MS, sans-serif; color: SkyBlue;
}

#lewd {
	width: 700px;
	position: relative;
<<<<<<< HEAD
}

=======
<<<<<<< HEAD
}

=======
<<<<<<< HEAD
}

=======
<<<<<<< HEAD
}

=======
<<<<<<< HEAD


}

=======
	
	
}
 
>>>>>>> da47ff853bd4181c1f9e410fefbdd91faad1951e
>>>>>>> 6e0afec43449709005c27d7ab69981356ce2b226
>>>>>>> 4fa377c6262632f1393c12d39aadf925c2f375c6
>>>>>>> 70c0ceb88adbe3a2caca8e03e7962d81a5034ed1
>>>>>>> 842c1dbf1ede642f3e7d13f10d1ae9a183e2d475
h1 {
	font-size: 370%;
}

.list {
	background-color: transparent;
	width: 700px;
	font-family: Comic Sans MS, sans-serif; color: SkyBlue;
	line-height: 1.7em;
	font-size: 2em;
	position: relative;
}

.gifs {
    background-color: transparent;
    width: 700px;
  	margin: auto;
}

img.gifs {
	position: relative;
}

#p1 {
	background-color: transparent;
	font-size: 200%;
}
